<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mar {
    margin-right: 20px
  }
</style>

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You for your feedback!</h1>
    <hr>
    <p class="lead">Your response has been saved to <strong>Database</strong></p>
  <div class="container"> 
      <p class="lead mar">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  <p class="lead">
        <a class="btn btn-primary btn-sm" href="/trending" role="button">See trending projects</a>
    </p>
  </div>
  
</div>
