<div class="jumbotron text-center">
    <h1 class="display-3">Thank You for your feedback!</h1>
    <hr>
    <p class="lead">Your response has been saved to <strong>Database</strong></p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>
