<style>
    .card {
        margin-top: 50px;
        margin-left: 10px;
        border: 2px solid black
    }

    .card-header {
        font-size: 3em;
        border-bottom: 2px solid black;
        /*Dynamic Background Color*/
    }

    .sm {
        font-size: 2em;
        font-weight: 1500;
    }

    .list-group-flush {
        margin: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 10vw
    }

    .list-group-item {
        border-bottom: 2px solid black;

    }

    .one {
        background-color: rgb(255, 191, 191);
    }

    .list-group-item:hover {
        transition: all .1s ease-out;
    }

    .outOff {
        /*background-color: rgb(203, 229, 255);*/
        /*Dynamic Background Color*/
        padding: 10px;
        padding-left: 20px;
    }

    .outOff:hover {
        transition: all .1s ease-in-out;
        border-radius: 9px;
        background-color: rgb(200, 200, 200);
        margin-bottom: 2px;
    }
</style>

<div class="card">
    <div align="center" class="card-header">
        Calculator
    </div>
    <div class="card-body">
        <h5 class="card-title outOff">5 / 5</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item one">1</li>
            <li class="list-group-item two">2</li>
            <li class="list-group-item three">3</li>
            <li class="list-group-item four">4</li>
            <li class="list-group-item five">5</li>
        </ul>
        <a href="rate/calc" class="btn btn-primary">Rate</a>
    </div>
</div>