<style>
    .card {
        margin-top: 50px;
        margin-left: 10px;
        border: 2px solid black;
    }

    .card-header {
        font-size: 2em;

        border-bottom: 2px solid black;
        /*Dynamic Background Color*/
    }

    .sm {
        font-size: 1em;
    }

    .list-group-flush {
        margin: 0;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .list-group-item {
        border-bottom: 2px solid black;
    }

    .list-group-item:hover {
        transition: all .1s ease-out;
    }

    .outOff {
        /*background-color: rgb(203, 229, 255);*/
        /*Dynamic Background Color*/
        padding: 10px;
        padding-left: 20px;
        width: 70vw
    }

    .outOff:hover {
        transition: all .1s ease-in-out;
        border-radius: 9px;
        background-color: rgb(200, 200, 200);
        margin-bottom: 2px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        background-color: rgb(219, 219, 219);
        margin-bottom: 30px;
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: white;
        color: black;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Rate Us</a>

        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/trending">Trending</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{#each context}}
<div class="card">
    <div align="center" class="card-header" style="background-color: rgb{{this.rgb}}">
        {{this.titles}}
    </div>
    <div class="card-body">
        <h5 class="card-title outOff">{{this.avgs}} / 5</h5>
    </div>
</div>

{{/each}}
<div class="container">
    <button class="btn btn-dark">Refresh</button>
</div>

<script>
    let button = document.getElementsByClassName('btn-dark')[0]
    button.addEventListener('click', () => {
        location.reload()
    })
</script>
